[Unit]
Description=Lorank concentrator activation

[Service]
WorkingDirectory=/root/lorank8v1/packet_forwarder
ExecStart=/root/lorank8v1/poly_pkt_fwd
SyslogIdentifier=lorank8v1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
